body {
  background-color: #d9d9d9;
  color: #59564b;
  margin: auto;
  padding: 10px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'Tenor Sans', sans-serif;
  font-size: 18px;
}

header {
  justify-content: center;
  text-align: center;
  font-size: 22px;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 1px solid #b0a8b3;
  padding: 50px;
  background-color: #ededed;
  border-radius: 20px;
}

button {
  padding: 25px;
  margin-top: 32px;
  border-radius: 10px;
  border: 1px solid #b0a8b3;
  background-color: #f7f7f7;
}

@media all and (min-width: 800px) {
  body {
    width: 45%;
    display: flex;
    flex-direction: column;
  }
  main {
    padding: 50px;
  }
}
