/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
body {
  background-color: lightgray;
  color: black;
  margin: auto;
  padding: 10px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  font-size: 16px;
}

header {
  text-align: center;
  font-size: 18px;
}

main {
  margin: 20px 20px;
  border: 1px solid black;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 20px;
}

button {
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}


@media all and (min-width: 800px) {
  body {
    margin: 0px 250px;
    display: flex;
    flex-direction: column;
  }
}